<section class="content">
<!--
          <div class="picture">
              <img src="{{picture}}" alt="" width="951" height="528">
          </div>
-->
           <article class="post">
            <button type="button" class="post__idotravel"><a href="#" class="post__link">I Do Travel</a></button>
                <p class="post__data">Sep 20</p>
                <h2 class="post__title">{{title}}</h2>
                <hr class="post__hr">
                <p class="post__text"> {{text}}</p>
                <a href="#"><p class="post__readmore">READ MORE</p></a>
                <ul class="post__hashtags">
                    <a href="#"><li class="post__hashtag">#Yosemite</li></a>
                    <a href="#"><li class="post__hashtag">#Peak</li></a>
                    <a href="#"><li class="post__hashtag">#Explorer</li></a>                  
                </ul>
            </article>
</section>