{% extends "layout.html" %}

{% block main %}
    <main>
        <section class="content">
           <section class="post">
                <p class="post__data">
<!--                emulation of margin :)-->
                </p>
                <h2 class="post__title">Contact us</h2>
                <p class="post__text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
                <hr class="contact-us-hr">
                <form id="contact-form" action="#">
                    <input type="text" class="contact-form__name contact-form__inputs" name="name" placeholder="First name">
                    <input type="text" class="contact-form__email contact-form__inputs" name="email" placeholder="E-Mail">
                    <input type="text" class="contact-form__subject contact-form__inputs" name="subject" placeholder="Subject">
                    <textarea class="contact-form__message contact-form__inputs" name="message" placeholder="Message" cols="40" rows="5"></textarea>
                    <button type="submit" class="post__submit-btn submit-btn">SEND MESSAGE</button>
                </form>
                
            </section>
        </section>
    </main>
    {% endblock %}